
@{
    ViewData["Title"] = "Simple Search";
}

<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-color: rgb(115, 118, 121);
        color: white
    }

    td, a {
        color: white;
    }
</style>

